<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Magento_CatalogRule::promo">
                        <resource
                            id="Trenzalore_Ofex::coupon"
                            sortOrder="40"
                            title="coupons offer"
                            translate="title"
                        />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource 
                                id="Trenzalore_Ofex::config_promo_product" 
                                title="Promotion" 
                                translate="title" 
                                sortOrder="100" 
                            />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>