<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Theme\Block\Html\Topmenu">
        <plugin 
            name="custom_menu_item_ofex" 
            sortOrder="10"
            type="Trenzalore\Ofex\Plugin\TopMenu"
            disabled="false"
        />
    </type>
</config>